body {
  margin: 0;
  font-family: "karla";
}
body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
.d-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
  .d-grid-2,
  .grid-col-3 {
    grid-template-columns: 1fr;
  }
}
